@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
*{margin: 0;padding: 0;}
ul, ol{list-style-type: none;}
a{text-decoration: none; color: inherit;}
img{display: block;}
body{font-family: 'Noto Sans KR', sans-serif; user-select: none;}

body * {outline: 1px dotted red;}

#player{width: 100px; height: 100px; background-color: orange; position: absolute; left: 50%; top: 70%; background: url(https://cdn0.iconfinder.com/data/icons/gray-business-toolbar/512/startup-512.png) no-repeat center / contain; z-index: 5;
}

#bullets li{display: none; position: absolute; width: 6px; height: 24px; background-image: linear-gradient(to bottom, red, yellow); border-top-right-radius: 3px; border-top-left-radius: 3px; z-index: 4;}


#board{width: 1200px; height: 800px; background-color: aliceblue; margin: 0 auto; margin-top: 40px; position: relative; cursor: url(../img/crosshair2.png) 20 20, auto; overflow: hidden;}



#enemies li{ width: 70px; height: 70px; background: url(https://cdn-icons-png.flaticon.com/512/9334/9334853.png) no-repeat center / contain; position: absolute; display: none; pointer-events: none;}